
<div class="row">

    <div id="logoutSuccess" hidden="hidden">{{ logoutSuccessMessage }}</div>
    <div id="registerSuccess" hidden="hidden">{{ registerSuccessMessage }}</div>
    <div id="welcomeMessage" hidden="hidden">{{ welcomeMessage }}</div>

    <div class="col-md-8">
        <div id="board-panel" class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <div id="board"></div>
                <div class="caption">

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="panel-title">Votes</h4>
            </div>
            <div class="panel-body">
                <p id="time-to-next-digest" style="font-size: 4em;"></p>

                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o"></i> White 213</li>
                    <li><i class="fa fa-circle"></i> Black: 321</li>
                </ul>

                <p id="player-stats"></p>
                <p id="vote-stats"></p>
            </div>
            <div class="panel-footer">
                <button id="resignButton" type="button" class="btn btn-danger center-block">Vote for Resignation</button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="panel-title">Moves Made</h4>
            </div>
            <div class="panel-body">
                <textarea rows="6" id="pgn" class="form-control" readonly="readonly"></textarea>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>

</div>