<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mahmoud Ben Hassine">
    <link rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="/bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel='stylesheet' href="/bower_components/chessboardjs/css/chessboard.min.css" />
    <link rel='stylesheet' href="/bower_components/messenger/build/css/messenger.css" />
    <link rel='stylesheet' href="/bower_components/messenger/build/css/messenger-spinner.css" />
    <link rel='stylesheet' href="/bower_components/messenger/build/css/messenger-theme-future.css" />

    <link rel='stylesheet' href="/stylesheets/chesshive.css" />
</head>
<body>

<div class="container">
    <div class="header">
        <h3><i class="fa fa-group"></i> Chess Hive</h3>
    </div>

    <div class="content">
        {{{body}}}
    </div>

    <div class="footer">
        <p>&copy; ChessHive 2015, <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://www.github.com/theborakompanioni">tbk</a></p>
        <p><a href="/monitor"><i class="fa fa-dashboard"></i> service status</a></p>
    </div>

</div> <!-- /container -->

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/chessboardjs/js/chessboard.min.js"></script>
<script type="text/javascript" src="/bower_components/chessjs/dist/chess.min.js"></script>
<script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/messenger/build/js/messenger.min.js"></script>
<script type="text/javascript" src="/bower_components/messenger/build/js/messenger-theme-future.js"></script>
<script type="text/javascript" src="/bower_components/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/javascripts/chesshive.js"></script>

</body>
</html>
