<div class="" data-ng-controller="HiveChessGameCtrl">
  <!--div class="row">
    <div class="col-xs-12">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <strong>Multiplayer game!</strong> This game follows normal chess rules with the addition
        that multiple players have to agree on a move before taking the final decision. Every team
        has 30 seconds for each move - the most suggested one will be selected.
      </div>
    </div>
  </div-->
  
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-7">
      <div id="board-panel" class="panel" data-ng-class="{
      'panel-info': !model.gameOver && !model.voted && model.isInTurn,
      'panel-success': !model.gameOver && model.voted && model.isInTurn,
      'panel-default': model.gameOver || !model.isInTurn
    }">
        <div class="panel-heading">
          <p style="margin-top:13px; position:relative; overflow: hidden;"
             data-ng-switch data-on="model.turn">
            <span class="animate-switch" data-ng-switch-when="w">
              <img src="images/chesspieces/wikipedia/wK.png" style="height:32px; margin-top:-7px;" alt="White king"/>
              <strong>white</strong> to move

              <span class="label animate-show-hide" style="margin-left: 0.5em;"
                    data-ng-class="{ 'label-success': model.voted, 'label-primary': !model.voted }"
                    data-ng-show="model.isInTurn">
                <span data-ng-show="model.voted">vote accepted</span>
                <span data-ng-show="!model.voted">make your move</span>
              </span>
            </span>
            <span class="animate-switch" data-ng-switch-when="b">
              <img src="images/chesspieces/wikipedia/bK.png" style="height:32px; margin-top:-7px;" alt="Black king"/>
              <strong>black</strong> to move

              <span class="label animate-show-hide" style="margin-left: 0.5em;"
                    data-ng-class="{ 'label-success': model.voted, 'label-primary': !model.voted }"
                    data-ng-show="model.isInTurn">
                <span data-ng-show="model.voted">vote accepted</span>
                <span data-ng-show="!model.voted">make your move</span>
              </span>
            </span>

            <span class="pull-right"
                  style="font-size: 2em; line-height: 0.8em;"
                  data-chesshive-time-to-next-digest
                  data-show-progress-bar="false"
                  data-show-text="true"></span>
          </p>
        </div>

        <div data-chesshive-time-to-next-digest
             data-show-progress-bar="true"
             data-show-text="false"></div>

        <div class="panel-body">
          <div class="col-xs-offset-0 col-xs-12
                      col-sm-offset-0 col-sm-12">
            <div
              data-nywton-chessboard
              data-board="board"
              on-drag-start-cb="onDragStart"
              on-drop="onDrop"
              on-snap-end="onSnapEnd"
              data-nywton-chessboard-autoresize
              ></div>

            <div class="caption text-center">

            </div>
          </div>
        </div>

        <div class="panel-footer">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm"
                    data-ng-click="board.orientation('flip')">
              <i class="fa fa-exchange fa-rotate-90"></i>
              <span class="sr-only">Flip Board</span>
            </button>
          </div>

          <div class="btn-group pull-right" role="group">
            <button id="resignButton" type="button"
                    class="btn btn-danger center-block btn-sm"
                    data-ng-click="voteForResignation()"
                    data-ng-show="model.isInTurn"
                    data-ng-disabled="model.voted">Resign
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-5" data-ng-show="model.gameOver">
      <div data-chesshive-game-over-message></div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-5" data-ng-show="!model.gameOver">
      <div class="panel" data-ng-class="{
      'panel-info': !model.gameOver && !model.voted && model.isInTurn,
      'panel-success': !model.gameOver && model.voted && model.isInTurn,
      'panel-default': model.gameOver || !model.isInTurn
    }">
        <div class="panel-heading">
          <p style="margin-top:13px;">
            <img data-ng-src="{{model.pieceImageSrc}}" style="height:32px; margin-top:-7px;" alt="Your color"/>
            You are in team <strong>{{model.orientation}}</strong>
          </p>
        </div>
        <div class="panel-body">
          <p id="player-stats">
            <span data-chesshive-player-stats></span>
          </p>

          <p id="vote-stats" data-ng-show="model.isInTurn">
            <span data-chesshive-suggested-moves data-is-in-turn="model.isInTurn"></span>
          </p>

          <p data-ng-show="!model.isInTurn">
            Wait till your opponents agree on a move.
          </p>
        </div>
        <div class="panel-footer">
          <a data-ng-click="model.showGameHistory = !model.showGameHistory"
             data-ng-switch data-on="model.showGameHistory">
            <span data-ng-switch-default>Show</span>
            <span data-ng-switch-when="true">Hide</span>
            History
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-12 animate-show-hide" data-ng-show="model.showGameHistory">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Moves Made</h4>
        </div>
        <div class="panel-body">
        <textarea rows="6" id="pgn" class="form-control" readonly="readonly" data-ng-model="model.gameHistoryString">
        </textarea>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>

  </div>
</div>
